.App {
  display: flex;
  flex-direction: column;
  width: 660px;
  background-color: #f7f7f7;
  height: 100%;
  text-align: center;
  align-items: center;
  cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;
  font-family: url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,400;1,500&family=Kdam+Thmor+Pro&family=Poppins:wght@100&display=swap");
}
